<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let post of posts" class="post-card">
      <img [src]="post.image" class="image-post" alt="Imagen del post" />
      <ion-card-header>
        <ion-card-subtitle class="post-header">
          <ion-avatar class="user-avatar">
            <img [src]="post.user.image ? post.user.image : 'assets/images/default-avatar.jpeg'" alt="Avatar del usuario" />
          </ion-avatar>
          <span class="user-name">{{ post.user.name }}</span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="post-description">{{ post.description }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPosts($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más publicaciones..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPost()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>