ion-content {
  --background: #000000;
}

.post-card {
  background: #000000;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  color: #ddd;
}

.post-description {
  color: #ccc;
}

.image-post {
  width: 100%;
  border-radius: 8px;
}

ion-infinite-scroll-content {
  text-align: center;
}